<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SistemaParqueoSalida.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="SistemaParqueoSalida.Properties.Settings.Conexion"
            connectionString="Data Source=localhost;Initial Catalog=SistemaParqueo;User ID=sa;Password=12345678;Encrypt=False;Column Encryption Setting=Disabled" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <SistemaParqueoSalida.Properties.Settings>
            <setting name="ByPassLoopSalida" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ByPassAdam" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AdamIp" serializeAs="String">
                <value>10.0.0.12</value>
            </setting>
            <setting name="AdamPort" serializeAs="String">
                <value>502</value>
            </setting>
            <setting name="EstacionNombre" serializeAs="String">
                <value>Nombre Estación</value>
            </setting>
            <setting name="EstacionNumero" serializeAs="String">
                <value>01</value>
            </setting>
            <setting name="DefaultPrinter" serializeAs="String">
                <value />
            </setting>
            <setting name="idUsuario" serializeAs="String">
                <value>1</value>
            </setting>
        </SistemaParqueoSalida.Properties.Settings>
    </userSettings>
</configuration>